{{> header}}
 
<div class="page page-current" id="apicloud-index">

  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="../../index.html">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">云api体验</h1>
  </header>
 
  <div class="content" >
    <div class="content-inner">
      <div class="content-block-title">示例</div>
      <div class="list-block">
        <ul>
          <li>
            <a href="./registe.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">用户注册</div>
              </div>
            </a>
          </li>
          <li>
            <a href="./login.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">用户登录</div>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
    </div>

  </div>
{{> footer}}

