{{> header}}

<div class="page page-current" id="registe-index" data-view="js/registe">

  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="./index.html">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">注册</h1>
  </header>
 
  <div class="content" >
    <div class="content-inner">
      <div class="content-block-title">示例</div>
      <div class="list-block">
    <ul>
      <!-- Text inputs -->
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">帐号</div>
            <div class="item-input">
              <input id="username" type="text" placeholder="请输入用户名">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">密码</div>
            <div class="item-input">
              <input id="password" type="password" placeholder="请输入密码">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">确认密码</div>
            <div class="item-input">
              <input id="re-password" type="password" placeholder="请输入确认密码">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">邮箱</div>
            <div class="item-input">
              <input id="email" type="email" placeholder="E-mail">
            </div>
          </div>
        </div>
      </li>

    </ul>

  </div>
   <div class="content-block">
    <a  id="registe" class="button button-big button-round button-fill">注册</a>
  </div>
    </div>

  </div>
</div>
</div>

{{> footer}}

